{% extends 'base.html.twig' %}

{% block title %}BlogPost{% endblock %}

{% block body %}

    <style>
        .unlike-link-unactive {
            color: grey;
        }
        .unlike-link-unactive:hover {
            color: lightgrey;
        }
    </style>

    <h1>BlogPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ blog_post.title }}</td>
            </tr>
            <tr>
                <th>Image_name</th>
                <td>{{ blog_post.imageName }}</td>
                <td><img src="{{ vich_uploader_asset(blog_post, "imageFile") }}" alt="{{ blog_post.title }}" /></td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog_post.content }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ blog_post.category }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ blog_post.tags }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ blog_post.date ? blog_post.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Author_name</th>
                <td>{{ blog_post.authorName }}</td>
            </tr>
            <tr>
                <th>Likes_counter</th>
                <td>{{ blog_post.likesCount }}</td>
            </tr>
            <tr>
                <th>Comments_count</th>
                <td>{{ blog_post.commentsCount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_post_index') }}">back to list</a>
{#    {% if isAuthor == true %}
        <a href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">edit</a>
    {% endif %}  #}
    <br><br>  
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ like_post_url }}"><strong>{{ likeUrlText }}</strong></a>
    {% else %}
        <span class="unlike-link-unactive" title="Only registered users can like a post"><strong>Like</strong></span>
    {% endif %}
    <br><br>
{#    {% if isAuthor == true %}
        {{ include('blog_post/_delete_form.html.twig') }}
    {% endif %}  #}
    {# Summoning the comments list #}
    {{ render(controller(
            'App\\Controller\\CommentController::getCommentsListByPost', {postSlug: blog_post.slug}
        )) }}
{% endblock %}